@tailwind base;
@tailwind components;
@tailwind utilities;
.title{
  font-family: 'Times New Roman', Times, serif;
}
.title-child{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{

}
.child{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.childs{
  justify-content: center !important;
  text-align: center !important;
  flex-wrap: wrap;
}


@media screen and (max-width: 750px) {
#modifybutton{
  margin-top: 2%;
}
#deletebutton{
  margin-top: 2%;
}
}




.todo-item {
  background-color: #81c784; 
  border: 2px solid #4caf50; 
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.todo-item:hover {
  background-color: #4caf50; 
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: 10px;
  appearance: none;
  border: 2px solid #4caf50; /* Dark Green */
  width: 20px;
  height: 20px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.checkbox-input:checked::before {
  content: '\2713'; /* Checkmark */
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paragraph {
  margin: 0;
  flex-grow: 1;
  color: #333;
}

#modifyinput {
  margin-right: 10px;
}



